
runs/

training_data/

appearance_scanner/data_utils/__pycache__/

torch_renderer/__pycache__/

.vscode/

data/Cheongsam/

models/

data_processing/extract_measurements/__pycache__/

data_processing/gather_data/__pycache__/

appearance_scanner/__pycache__/
